@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Poppins:wght@300&display=swap');

body {
  background-color: #181a24;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

header {
  background: #202330;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

header a {
  color: #959cbd;
  text-decoration: none;
}

.navbar {
  margin-bottom: 0;
  padding-bottom: 0;
}
.lobby{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.codeblock-page{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.codeblock-details {
  max-width: 800px;
  background: #202330;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.codeblock-details h4 Link {
  text-emphasis-color: #959cbd;
  margin: 0 0 10px 0;
  font-size: 2em;
}

a {
  color: #959cbd;
  text-decoration: none;
}

.lobby h2 {
  color: #959cbd;
  text-align: center;
}

h3 {
  color: #959cbd;
}



.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader {
  display: inline-block;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #c0caf5;
  position: relative;
}
.loader::before {
  content: '';  
  position: absolute;
  left: 34px;
  bottom: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #c0caf5;
  border-bottom-color: #9764f6;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #9764f6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #bb9af7}

button:active {
  background-color: #bb9af7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}